
* {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 52px !important;
  line-height: 3.5rem;
}

h2 {
  font-size: 44px ;
  line-height: 3.5rem;
}

h3 {
  font-size: 20px ;
  font-weight: 400;
}

h4 {
  font-size: 18px;
}

.main-margin {
  margin-left: 10rem;
  margin-right: 10rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-8 {
  padding-top: 8rem;
}

li {
  display: flex;
  align-items: center;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

.button ,  .button:focus {
  background-color: #06d7be;
  color: white;
  margin: 0 20px 0 20px;
  padding: 8px 12px;
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(59, 53, 53);
}

.line {
  margin-bottom: 8px !important;
}

.container {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}


@media (min-width: 750px) {
  .top-margin {
    height: 10rem;
  }
}

.nav-link {
  color: black;
  font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}

.nav-link .nav-tabs {
  border-color: transparent;
}

.nav-link.active {
  font-weight: 700;
  border-bottom: 2px solid #06d7be !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  border-color: transparent;
  color: black;
}

button.nav-link {
  font-weight: 401 !important;
}

button.nav-link.active {
  font-weight: 601 !important;
}

.circle {
  border-radius: 50px;
}

.click-icon {
  color: white;
  font-weight: bold;
}

.half-right {
  transform: translateX(-45%);
}

.double-width {
  width: 200%;
}

.success-color {
  color:  #06d7be;
}

.failure-color {
  color: #f75531;
}

.check-success {
  background-color: #36b37e;
}

.check-failure {
  background-color: #f75531;
}

textarea {
  background-color: #fafafa !important;
  border: none !important;
  resize: none !important;
}

::placeholder {
  margin: 0;
  position: absolute;
  top: 46%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.p-timeline-event {
  display: block;
}

@media (max-width: 750px) {
  .p-timeline.p-timeline-horizontal .p-timeline-event-opposite,
  .p-timeline.p-timeline-horizontal .p-timeline-event-content {
    font-size: 12px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

#file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}


  @media (min-width: 970px) {
    .verification-section{
      width: 80%;
    }
}